// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Archery Bow Grip
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon

                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/handle2.png', alt='...')
                            // Additional Images
                            hr
                            p.mb-2 I started doing archery back in 2023 immediately I was pretty hooked. Quickly I progressed to shooting out to 60 meters. However when I started training with broadheads my accuracy reduced dramatically. I realized this is due to the fact that I was applying a torque at the handle of the bow. With no broadhead the misalignment of the arrow compared to the string velocity vector is quickly righted by the fletching. However when a broadhead is added there are essentially fletching now also at the front of the arrow, meaning that misalignment creates unstable flight. I designed a extra wide bow grip to push more easily through the thumb muscle avoiding the hand wrapping around the grip and applying torque to the bow. Designed in fusion 360 using a mixture of solid and surface modelling.  
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/handle4.png', alt='...')
                            hr
                            p.mb-2 From there I was were able to 3d print and tweak the design in CAD based off the point cloud from the scan
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/handle3.png', alt='...')
                            hr
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window