// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Illustrator and concept drawing
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon

                                .divider-custom-line
                            // Portfolio Modal - Image
                            .row.justify-content-center.mb-4
                                .col-md-4
                                    img.img-fluid.rounded.mb-3(src='assets/img/portfolio/lingcod_complete.png', alt='Photo 1')
                                .col-md-4
                                    img.img-fluid.rounded.mb-3(src='assets/img/portfolio/ling2.png', alt='Photo 2')
                                .col-md-4
                                    img.img-fluid.rounded.mb-3(src='assets/img/portfolio/ling3.png', alt='Photo 3')
                            .row.justify-content-center.mb-4
                                .col-md-4
                                    img.img-fluid.rounded.mb-3(src='assets/img/portfolio/drawing.jpg', alt='Photo 4')
                                .col-md-4
                                    img.img-fluid.rounded.mb-3(src='assets/img/portfolio/drawing3.JPG', alt='Photo 5')
                                .col-md-4
                                    img.img-fluid.rounded.mb-3(src='assets/img/portfolio/drawing2.JPG', alt='Photo 6')
                            // Portfolio Modal - Text
                            p.mb-4 Above are some examples of my illustration and concept drawing work.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window