// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 E-foil Remote
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon

                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/v3remote1.png', alt='...')
                            // Additional Images
                            hr
                            p.mb-2 Firstly we created a clay model to fit the general persons hand then
                                | scanned it to create a 3D model of the ergonomic shape. 
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/vbuild1.jpg', alt='...')
                            hr
                            p.mb-2 From there I was were able to 3d print and tweak the design in CAD based off 
                                | the point cloud from the scan
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/vbuild2.jpg', alt='...')
                            hr
                            p.mb-2 From there I surface modelled the design, I was able to use the point cloud as a reference
                                | and work towards a final design that incorporated all electronics locating and waterproofing features required.
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/vbuild3.jpg', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window

                                