// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                           
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Industrial Robot Cells
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                .divider-custom-line
                            // YouTube Video Embed 1
                            .mb-4
                                iframe(width="100%" height="550" src="https://www.youtube.com/embed/MUM-fs6G0N4?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                            // Portfolio Modal - Image
                            p.mb-2 Designed and built 3 robot cells for industrial robots
                                | 
                                |Cells used to demonstrate the capabilities of the Micropsi Vision system.
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/robotcell2.png', alt='...')
                            p.mb-2 Designed and built 3 robot cells for industrial robots
                                | 
                                |Cells used to demonstrate the capabilities of the Micropsi Vision system.
                            // YouTube Video Embed 2
                            .mb-4
                                iframe(width="100%" height="550" src="https://www.youtube.com/embed/W7E0-iXt2t4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                            // Portfolio Modal - Text
                            p.mb-4
                                | The next step was to bring the prototype to limited run production.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window