// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                           
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Industrial Robot Cells
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                .divider-custom-line
                            // YouTube Video Embed 1
                            .mb-4
                                iframe(width="100%" height="550" src="https://www.youtube.com/embed/MUM-fs6G0N4?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                            // Portfolio Modal - Image
                            p.mb-2 For Micropsi Industries I developed three robot cells to demonstrate use cases of the product. Micropsi had a novel vision system that used reinforcement learning to move towards a target camera image by associating pixel values with direction vector towards the target. 
                            img.img-fluid.rounded.mb-5.modal-img(src='assets/img/portfolio/robotcell2.png', alt='...')
                            p.mb-2 The Above video is of a customer aerofoil that is has flexible fasters inserted. The difficulty here that the fasteners morph shape over a number of cycles simulating the variability of these parts in manufacture. Through training the range of fastener shapes that are possible the machine learning is able to account for these differences. 
                                    |For this project I organized the props from the customer, designed the table/cell and transportation system, assembled everything, learnt how to program industrial robots, setup the robot designed camera mounts and gripper fingers, programmed the robot, setup safety bounding box. All cell processes ran without errors demonstrating the product well. 
                                    |I decided to contact this customer in particular and use their parts because this demonstration is particularly eye catching. Aerospace parts were interesting to many of our potential customers at tradeshows and these flexible parts demonstrated the advantage of our system well.
                            // YouTube Video Embed 2
                            .mb-4
                                iframe(width="100%" height="550" src="https://www.youtube.com/embed/W7E0-iXt2t4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                            // Portfolio Modal - Text
                            p.mb-4
                                | Above is another of the three cells I developed. This one demonstrates highly reflective parts that are difficult for conventional vision to deal with. 
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window